.distributor{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #A7D6C2 ;
}
.next-btn:hover, .back-btn:hover{
    cursor: pointer;
    background: #347558;
}
.back-btn{
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-0%);
}
.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    padding: 15px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}
.slide:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg, 
        rgba(255,255,255,0) 0%, 
        rgba(145,186,168,0.40) 217.91%
        );
}
.slide img{
    padding-top: 2.5%;
    width: 350px;
    margin-right: 10px;
    border-radius: 5%;
}
.place-info{
    display: box;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.place-info h3{
    color: #A7D6C2;
}
.slide p {
    text-align: center;
    margin: 0 auto;
}

/* -------media query------------ */
@media (max-width: 1200px){
    .slide img{
        width: 250px;
    }
  }
@media (max-width: 800px){
    .distributor{
        padding: 0 40px;
    }
    .next-btn, .back-btn{
        padding: 10px;
        width: 35px;
    }
    .distributor ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
    .slide img{
        width: 230px;
    }
    .slider ul{
        overflow-x: visible;
    }


}
