/* Base footer styles */
.footer {
  margin: 40px auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.footer-col {
  flex: 1;
  margin: 0 0 20px 0; /* Reduce side margins for mobile */
  flex-basis: 100%;
  color: #676767;
  text-align: center; /* Center align text for mobile */
}

.footer-col h3 {
  color: #301A00;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-col ul li {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items in mobile view */
  margin: 15px 0;
}

.footer-col ul li img {
  width: 20px;
  margin-right: 8px;
}

.footer-col iframe {
  width: 100%; /* Full width iframe for mobile */
  margin-bottom: 20px;
  border-radius: 8px;
}

.footer-col p {
  margin: 20px 0;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center; /* Center social icons for mobile */
  gap: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

/* Media query for small screens */
@media (min-width: 600px) {
  .footer {
      flex-direction: row;
      align-items: flex-start;
  }

  .footer-col {
      margin: 0 15px;
      text-align: left;
      flex-basis: 60%;
  }

  .footer-col h3 {
      font-size: 25px;
      margin-bottom: 20px;
  }

  .footer-col ul li {
      justify-content: flex-start;
      margin: 20px 0;
  }

  .footer-col ul li img {
      width: 25px;
      margin-right: 10px;
  }

  .footer-col p {
      font-size: 16px;
      margin: 25px 0;
  }

  .social-icons img {
      width: 24px;
      height: 24px;
  }
}
